// @use '../../../../styles/colors';

.container {
    padding: 50px 52px;
    width: 100%;
    color: var(--color);
    background-color: var(--color-bg);
    max-width: 524px;
    box-shadow: 0 33px 52px 0 var(--color-shadow);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        flex: 1 1;
    }
}
