@use 'styles/typography' as *;
@use 'styles/media' as *;

.container {
    width: 100%;
    color: var(--color);
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
}

.formInput {
    &:not(:first-of-type) {
        margin-top: 18px;
    }
}

.privacyText {
    margin: 24px 0 20px 0;
}

.formButton {
    width: 100%;
    margin-top: 30px;
}
