@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
        url('src/assets/fonts/RubikRegular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: local('Rubik'),
        url('src/assets/fonts/RubikSemiBold.ttf') format('truetype');
    font-weight: 600;
}
