@use 'styles/typography' as *;
@use 'styles/media' as *;

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        flex: 1 1;
    }

    .message {
        margin-top: 6px;
    }

    .button {
        padding: 16px 24px; // TODO check mui button overrides for padding
        margin-top: 20px;

        @media screen and (min-width: $desktop) {
            margin-top: 28px;
        }
    }
}
