@use 'styles/colors' as *;

.formInput {
    margin: 8px 0;
    width: 100%;
    border-radius: 4px;
}

.formInputError {
    border: 1px solid var(--error-light);
}

.messageError {
    color: var(--error-dark);
    margin: 0 0 0 4px;
}

.errorIcon {
    fill: var(--error-dark);
    width: 16px;
    height: 16px;
}

.errorContainer {
    display: flex;
    align-items: center;
}

.eyeIcon {
    width: 24px;
    height: 24px;
    fill: var(--tertiary);
}

.helpMessage {
    margin-top: 8px;
}
