.resetPasswordFormContainer {
    padding: 50px 52px;
    width: 100%;
    color: var(--color);
    background-color: var(--color-bg);
    max-width: 524px;
    box-shadow: 0 33px 52px 0 var(--color-shadow);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        line-height: 24px;
        font-weight: 700;
    }

    .text {
        font-weight: 300;
    }

    .form {
        flex: 1 1;
    }
}
